@charset "utf-8";
/*プロフィールページ*/
#profile{
    margin-bottom: 100px;
}
#profile h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 70px;
    letter-spacing: 5px;
}
#profile h2{
    font-size: 20px;
    letter-spacing: 1px;
}

.prof_prof{
    width: 80%;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
.prof_img_text{
    text-align: right;
    width: 40%;
    margin-right:5%;
    line-height: 50px;
}
.prof_img{
    width: 50%;
}
.prof_img img{
    width: 100%;
    height: auto;
}

.prof_content{
    width: 80%;
    margin: 0 auto;
    line-height: 50px;
    letter-spacing: 2px;
}
.prof_content p{
    margin-bottom: 20px;
}