@charset "utf-8";


/*初期化*/
*{
	padding:0;
	margin:0;
}

a{
	text-decoration:none;
}

ul,ol{
	list-style:none;
}

img {
max-width:100%;
}


h1,h2,h3,h4,h5,h6{
	margin-bottom:24px;
}
h1{
	font-size:48px;
	line-height:1;
} /*48px*/
h2{
	font-size:36px;
	line-height:1.3333;
} /*48px*/
h3{
	font-size:24px;
	line-height:1;
} /*24px*/
hgroup h2,h4,h5,h6{
	font-size:16px;
	line-height:1.5;
} /*24px*/


body{
	background-color: #f3f2eb;
	color: #59512f;
	font-family: a-otf-ryumin-pr6n, serif;
	font-weight: 300;
	font-style: normal;
}

/*スクロールでフェードイン*/
	.fadein {
	opacity: 0;
	transform : translate(0, 50px);
	transition : all 1500ms;
	}

	.fadein.scrollin{
	opacity: 1;
	transform: translate(0, 0);
	}

/*-----画面レイアウト-----*/
/*メインビジュアル*/
header{
	text-align:center;
	position: relative;
}
header #mav{
	display: block;
	margin-bottom: 24px;
	height: 100vh;
	text-indent:-9999px;
	background-image:url(../image/mainvisual.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-position:bottom;
	background-position:center;
}
header #logo{
	background-image:url(../image/logo.png);
	height: 100vh;
	width: 100%;
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-position:bottom;
	background-position:center;
	background-size: 75%;
	position: absolute;
	top: 0;
	left: 0;
}
header #logo img{

}
.cacth{
	display: none;
}

/*スクロールボタン*/
#scroll{
	position: absolute;
	bottom: 20px;
	width: 100%;
	left: 0;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-decoration: none;
	padding-top: 60px;
	color: white;
}
#scroll span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb 2s infinite;
	animation: sdb 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb {
	0% {
	-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes sdb {
	0% {
    transform: rotate(-45deg) translate(0, 0);
	}
	20% {
    transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
    transform: rotate(-45deg) translate(0, 0);
	}
}

/*メインコンテンツコントロール*/
#contents {
    width: 98%; /*コンテンツの横幅をウィンドウの90%に指定。*/
    margin: 0 auto; /*コンテンツ左右マージンを自動に設定。(コンテンツのセンター寄せ) */
	text-align: center; /*コンテンツ内の要素をセンター揃え*/;
	margin-bottom: 24px;
}

/*about*/
#about{
	margin: 0 auto;
	margin-bottom: 100px;
}
#about h3{
	margin: 70px 0;
	color: #59512f;
}
#about p{
	text-align: left;
	line-height: 2em;
	margin-bottom: 50px;
	padding: 10px;
}





/*products*/
#products{
	margin-bottom: 100px;
}
#products p{
	border-bottom: silver solid 1px;
	padding: 20px;
	line-height: 2em;
	margin-bottom: 24px;
}
#products .text{
	text-align: left;
}
#products h3{
	margin: 10px 0;
}
#products h4{
	font-size: 0.5em;
}




/*shop*/
#shop{
	text-align: left;
	margin-bottom: 100px;
}
#shop_cont{
	padding: 10px;
	line-height: 1.8em;
	margin-bottom: 30px;
}
#shop_cont a{
	text-decoration: underline;
	color: #59512f;
}
#shop_cont a:hover{
	opacity: 50%;
}
#shop dl{
	overflow: hidden;
}
#shop dt{
	float: left;
	margin-right: 10px;
}
#shop #attend{
	font-size: 0.7em;
}
#shop iframe {
	width: 95%;
	height: 300px;
}


/*artist*/
#artist{
	margin-bottom: 80px;
}
#artist_wrap{
	display: block;
	width: 80%;
	margin: 0 auto;
}

.artist_prof{
	padding: 20px;
}
.ban_mobile{
	display: block;
}
.ban_pc{
	display: none;
}
#artist p img{
	margin-bottom: 20px;
}

/*footer*/
footer {
    color: white; /*文字の色を白に設定*/
    text-align: center; /*要素をセンター揃え*/
    padding: 24px 0; /*上下の余白を 24px設定*/
    background-color: #b1982c; /*背景色を設定*/
}

/*PC（ブレイクポイント：1024px）*/
@media screen and (min-width : 1024px){
	/*960px;*/
	header #mainv{
		box-sizing: border-box;
		display: flex;
		flex-direction: row-reverse;
		border: #f3f2eb solid 40px;
		height: 100vh;
		padding: 0;
	}
	header #mav{
		width: 70vw;
		position: relative;
		height: calc(100vh - 80px);
		margin: 0;
	}
	header #logo{
		width: 30vw;
		background-size: 50%;
		position: relative;
		height: calc(100vh - 80px);
		background-color: #723f75;
		margin: 0;
	}
	#contents{
		width: 100%;
	}
	#about{
		width:100%
	}
	h2 {
		width: calc(100% - 80px);
		margin: 100px auto;
	}
	#about p{
	margin: 0 auto;
	width: 60%;
	line-height: 2.5em;
	margin-bottom: 80px;
	padding: 10px;
	}
	#products{
	}
	.ban_mobile{
		display: none;
	}
	.ban_pc{
		display: block;
	}
	.products_container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 90%;
		margin: 0 auto;
	}
	.products_item{
		width: 40%;
	}
	#artist_wrap{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 200px;
	}
	.artist_prof{
	margin: 0 10px;
	}
	#artist{

	}
	.cacth{
		display: block;
		position: absolute;
		top: 33%;
		left: 20%;
		text-indent:0px;
		color: #f3f2eb;
		font-size: 3.8em;
		text-align: left;
		letter-spacing: 8px;
		line-height: 2em;
		font-family: trajan-pro-3, serif;
		font-weight: 400;
		font-style: normal;
	}
	#artist_wrap{
		display: flex;
	}
	#shop{
		margin-bottom: 100px;
	}
	#shop #shop_container{
		display: flex;
		width: 90%;
		margin: 0 auto;
	}
	#shop #shop_cont{
		width: 50%;
		font-size: 1.2em;
		margin: 0 auto;
		margin-bottom: 100px;
	}
	#shop iframe{
		width: 50%;
		height: auto;
	}
}
